<html>
<head>
<link href="https://unpkg.com/bonsai.css@latest/dist/bonsai-base.min.css" rel="stylesheet">

<meta http-equiv="refresh" content="5" />
<script>
    function httpGet(theUrl)
    {
        var xmlhr = new XMLHttpRequest();
        xmlhr.open( "GET", theUrl, false);
        xmlhr.send( null );
        return xmlhr.responseText;
    }
</script>
</head>
<body>
<div>
    <h4>Status:{% if status.running  %}RUNNING (since: {{ status.job_started}}) {% else %}STOPPED{% endif %}</h4>
    <h4>Last sync:{{ status.job_last_run }}</h4> 
</div>
<div class="group">
    <a href="#" onclick="httpGet('/sync/all')" class="button button-outline">
        <span>Full sync ></span>                    
    </a> 

    <a href="#" onclick="httpGet('/sync/albums')" class="button button-outline">
        <span>Album sync ></span>                    
    </a> 
</div> 
<div style="margin-top: 10px;">
    
</div> 
<div><h4>Last operations:</h4><br>
<div style="font-family:monospace">
    <code>
        {% for line in status.log %}
            {{ line }}<br>
        {% endfor %}
    </code>
    </div>
</div>
</body>

</html>